@font-face {
    font-family: 'pt_sans_narrowregular';
    src: url('fonts/PTN57F-webfont.eot');
    src: url('fonts/PTN57F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTN57F-webfont.woff') format('woff'),
         url('fonts/PTN57F-webfont.ttf') format('truetype'),
         url('fonts/PTN57F-webfont.svg#pt_sans_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sans_narrowbold';
    src: url('fonts/PTN77F-webfont.eot');
    src: url('fonts/PTN77F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTN77F-webfont.woff') format('woff'),
         url('fonts/PTN77F-webfont.ttf') format('truetype'),
         url('fonts/PTN77F-webfont.svg#pt_sans_narrowbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
    height: 100%;
    width: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'pt_sans_narrowregular', Arial, sans-serif;
	font-size: 18px;
	color: #596067;
}

body strong {
	font-family: 'pt_sans_narrowbold', Arial, sans-serif;
}

.slide {
    background-attachment: fixed;
    height: 100%;
    position: relative;
    width: 100%;
    border-bottom: 2px solid #fff;
}

.wrapper {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 960px;
}

.bubble, .bubble2, .bubble3 {
	background-color: rgba(255,255,255,.35);
	width: 320px;
	height: 320px;
	position: absolute;
	border-radius: 190px;
	padding: 35px;
}

.bubble-inner-wrapper {
	background-color: rgba(255,255,255,.7);
	text-align: center;
	font-size: 2em;
	height: 100%;
	border-radius: 160px;
}

.bubble-text {
	display: block;
	padding-top: 65px;
}

.break-on-desktop {
	display: block;
}

.bubble-text a {
	color: #856b92;
	font-size: .75em;
}

#slide5 .bubble-text {
	padding-top: 45px;
}

#slide1 {
	z-index: 9999;
}

#slide2 {
	z-index: 9998;
}

#slide3 {
	z-index: 9997;
}

#slide1 .bubble {
	top: 20%;
	left: 0;
}

#slide2 .bubble {
	top: 20%;
	right: 25px;
}

#slide5 .bubble {
	top: 30%;
	right: 100px;
}

.button {
    background-color: rgba(255,255,255,.7);
    bottom: 0;
    display: block;
    height: 36px;
    left: 50%;
    position: absolute;
    z-index: 9999;
    width: 150px;
    border-radius: 50% / 100%;
    text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.7);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    color: #596067;
    font-size: 1em;
    margin-left: -75px;
    padding-top: 12px;
    line-height: .9em;
    border-top: 3px solid rgba(255,255,255, .6);
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: #596067;
    cursor: pointer;
    text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.7);
    border-top: 3px solid rgba(255,255,255, 1);
}

.arrow-down {
    width: 16px;
    fill: #596067;
    height: 7px;
}

#slide1 {
    background-image: url("images/me.jpg");
    background-size: cover;
}

#slide2 {
    background-image: url("images/los_angeles.jpg");
    background-size: cover;
}

#slide4 {
	 background-color: #9b84a6;
}

#slide5 {
    background-image: url("images/me_and_argy.jpg");
    background-size: cover;
}

#slide3 {
    background-color: #d8d8d8;
}

.purple-tree, .grey-tree {
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 99;
}

#tree {
    width: 102px;
    height: 614px;
    left: 133px;
}

#tree2 {
  width: 38px;
  height: 229px;
    left: 280px;
}

#big_tree {
  width: 220px;
  height: 532px;
    left: 624px;
}

#tree3 {
	width: 80px;
	height: 374px;
	left: 395px;
}

#tree4 {
	right: 54px;
	width: 52px;
	height: 313px;
}

#tree5 {
	right: 318px;
	width: 40px;
	height: 188px;
}

@-webkit-keyframes animateouter {
  from {
    background-color: rgba(255,255,255,.15);
  }

  to {
    background-color: rgba(255,255,255,.7);
  }
}

@keyframes animateouter {
  from {
    background-color: rgba(255,255,255,.15);
  }

  to {
    background-color: rgba(255,255,255,.7);
  }
}

.skill-bubble {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 65px;
	padding: 15px;
	z-index: 999;
	background-color: rgba(255,255,255,.25);
	-webkit-animation: animateouter 1.5s linear 0s infinite alternate;
	animation: animateouter 1.5s linear 0s infinite alternate;
}

@-webkit-keyframes animateinner {
  from {
    background-color: rgba(255,255,255,.45);
  }

  to {
    background-color: rgba(255,255,255,1);
  }
}

@keyframes animateinner {
  from {
    background-color: rgba(255,255,255,.45);
  }

  to {
    background-color: rgba(255,255,255,1);
  }
}

.skill-bubble.grey-skill {
	background-color: rgba(255,255,255,.55);
}

.skill-bubble-inner {
	height: 100%;
	text-align: center;
	border-radius: 75px;
	font-size: 1.2em;
	line-height: 100px;
	background-color: rgba(255,255,255,.45);
	-webkit-animation: animateinner 1.5s linear 0s infinite alternate;
	animation: animateinner 1.5s linear 0s infinite alternate;
}

@-webkit-keyframes animateinner-purple {
  from {
    background-color: #9b84a6;
  }

  to {
    background-color: #896c98;
  }
}

@keyframes animateinner-purple {
  from {
    background-color: #9b84a6;
  }

  to {
    background-color: #896c98;
  }
}

.grey-skill .skill-bubble-inner {
	color: #fff;
	background-color: #9b84a6;
	line-height: 65px;
	-webkit-animation: animateinner-purple 1.5s linear 0s infinite alternate;
	animation: animateinner-purple 1.5s linear 0s infinite alternate;
}

.skill-bubble-inner.two-lines-skill {
	line-height: 1.2em;
	padding-top: 23px;
	height: 77px;
}

#mgmt .skill-bubble-inner {
	font-size: 1em;
	padding-top: 27px;
	height: 73px;
}

.two-lines {
	display: block;
	padding-top: 51px;
	line-height: 1.1em;
}

#html {
	bottom: 557px;
	left: 50px;
}

#css {
	bottom: 519px;
	left: 205px;
}

#photoshop {
	bottom: 329px;
	left: 313px;
}

#illustrator {
	bottom: 320px;
	left: 451px;
}

#js {
	bottom: 420px;
	right: 20px;
}

#angularjs {
	bottom: 515px;
	right: 168px;
}

#javascript {
	bottom: 446px;
	right: 314px;
}

#testing {
	bottom: 200px;
	left: 233px;
}

#uiux {
	bottom: 277px;
	right: 8px;
}

#mgmt {
	bottom: 167px;
	right: 272px;
}

.cloud-text {
	position: absolute;
	color: #fff;
	font-size: 1.2em;
}

@-webkit-keyframes move-cloud {
	0% { left: 5%; }
	100% { left: 100%; }
}

@keyframes move-cloud {
	0% { left: 5%; }
	100% {left: 100%; }
}

#cloud1 {
	position: absolute;
	width: 130px;
	height: 78px;
	top: 30px;
	-webkit-animation: move-cloud 45s linear 0 infinite alternate;
	animation: move-cloud 45s linear 0 infinite alternate;
}

@-webkit-keyframes move-cloud2 {
	0% { right: 50%; }
	25% { right: 0%;}
	50% { right: 100%; }
	75% { right: 0%;}
	100% { right: 50%; }
}

@keyframes move-cloud2 {
	0% { right: 50%; }
	25% { right: 0%;}
	50% { right: 100%; }
	75% { right: 0%;}
	100% { right: 50%; }
}

#cloud2 {
	position: absolute;
	width: 80px;
	height: 46px;
	top: 60px;
	-webkit-animation: move-cloud2 65s linear 0 infinite alternate;
	animation: move-cloud2 65s linear 0 infinite alternate;
}

@-webkit-keyframes move-cloud3 {
	0% { right: 10%; }
	100% { right: 100%; }
}

@keyframes move-cloud3 {
	0% { right: 10%; }
	100% { right: 100%; }
}

#cloud3 {
	position: absolute;
	width: 50px;
	height: 25px;
	top: 10px;
	-webkit-animation: move-cloud3 45s linear 0 infinite alternate;
	animation: move-cloud3 45s linear 0 infinite alternate;
}

@-webkit-keyframes move-cloud4 {
	0% { right: 30%; }
	50% { right: 70%;}
	100% { right: 50%; }
}

@keyframes move-cloud4 {
	0% { right: 30%; }
	50% { right: 70%;}
	100% { right: 50%; }
}

#cloud4 {
	position: absolute;
	width: 100px;
	height: 50px;
	top: 65px;
	-webkit-animation: move-cloud4 65s linear 0 infinite alternate;
	animation: move-cloud4 65s linear 0 infinite alternate;
}




/* Projects slide */

#projects_list {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#projects_list li {
	display: block;
	position: relative;
	width: 300px;
	height: 300px;
	float: left;
	border-radius: 50%;
	margin-right: 15px;
	margin-top: 45px;
	font-size: 1.2em;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-repeat: no-repeat;
}

#projects_list li > a {
	display: block;
	text-decoration: none;
}

#projects_list li:nth-child(-n+3) {
	margin-top: 15px;
}

#projects_list li:nth-child(3n+3) {
	margin-right: 0;
}

#projects_list li:nth-child(odd) {
	background-color: #a894b2;
	border: 5px solid #d2c8d7;
}

#projects_list li:nth-child(odd) a {
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0,0,0,.3);
}

#projects_list li:nth-child(even) {
	background-color: #cbbfd1;
	border: 5px solid #fff;
}

#projects_list li:nth-child(even) a {
	color: #654873;
	text-shadow: 1px 1px 0 rgba(255,255,255,.68);
}

#projects_list li:after {
	content: "";
	display: block;
	height: 60px;
	width: 60px;
	position: absolute;
	bottom: -30px;
	left: 50%;
	margin-left: -30px;
	border-radius: 50%;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #fff;
}

#projects_list li:nth-child(odd):after {
	background-color: #e0d5e5;
}

li.design:after {
	background-size: 50%;
	background-image: url(images/paint_brush.svg);
}

li.code:after {
	background-size: 50%;
	background-image: url(images/code_icon.svg);
}

li.design-code:after {
	background-size: 70%;
	background-image: url(images/code_design_icon.svg);
}

.project-title {
	display: block;
	padding: 203px 6% 0;
}

.project-title.one-line {
	padding-top: 223px;
}

#cherry_hill {
	background-image: url(images/cherry_hill.png);
	background-position: center top;
	background-size: auto 195px;
}

#edlio_corp {
	background-image: url(images/edlio_corp.png);
	background-position: center top;
	background-size: auto 307px;
}

#staff_directory {
	background-image: url(images/staff_directory.png);
	background-position: center top;
	background-size: auto 200px;
}

#common_core {
	background-image: url(images/common_core.png);
	background-position: center 8px;
	background-size: auto 197px;
}

#cap_corgi {
	background-image: url(images/cap_corgi.png);
	background-position: center 20px;
	background-size: auto 186px;
}

#pkf_standard {
	background-image: url(images/pkf_standard.png);
	background-position: center top;
	background-size: auto 307px;
}

#projects_list li:hover {
	background-color: #ede6f0;
	cursor: pointer;
	border-color: #62426f;
}

#projects_list li:hover > a {
	color: #654572 !important;
	text-shadow: 1px 1px 0 rgba(255,255,255, .9);
}

#projects_list li:hover:after {
	background-color: #654572 !important;
	line-height: 60px;
	font-family: "courier", arila, sans-serif;
	font-size: 14px;
	background-image: none;
	color: #fff;
	text-shadow: none;
}

#projects_list li.design:hover:after {content: "design";}
#projects_list li.code:hover:after {content: "code";}
#projects_list li.design-code:hover:after {
	content: "design & code";
	line-height: 1em;
	font-size: 13px;
	padding-top: 17px;
	height: 43px;
}


/* mobile */

@media only screen and (max-width : 480px) {
	.wrapper {
		width: 100%;
	}
	
	.slide {
		background-position-x: center;
	}
	
	#slide5 {
		background-position-x: -45px;
	}
	
	.bubble {
		width: 90%;
		height: auto;
		padding: 5%;
		border-radius: 0;
	}
	
	.bubble-inner-wrapper {
		border-radius: 0;
		font-size: 1.5em;
	}
	
	.bubble-text {
		padding: 5% 0;
	}
	
	#slide5 .bubble-text {
		padding-top: 5%;
	}
	
	.break-on-desktop {
		display: inline;
	}
	
	#slide1 .bubble,
	#slide2 .bubble,
	#slide5 .bubble {
		top: 0;
		right: 0;
	}
	
	#slide3 .purple-tree {
		display: none;
	}
	
	#slide3 .skill-bubble {
		position: relative;
		z-index: 99999;
		float: left;
		border-radius: 0;
		width: 27%;
		margin: 3%;
		padding: 0;
		-webkit-animation: none !important;
		animation: none !important;
		left: auto !important;
		right: auto !important;
		bottom: auto !important;
	}

	#slide3 .skill-bubble-inner {
		border-radius: 0;
		-webkit-animation: none !important;
		animation: none !important;
		background-color: rgba(255,255,255,.7);
	}
	
	.grey-skill .skill-bubble {
		background-color: none;
	}

	#slide3  .grey-skill .skill-bubble-inner {
		background-color: rgba(135,107,148,.8);
	}

	#tree5 {
		left: 5%;
	}

	#tree4 {
		left: 45%;
		width: 18%;
		height: auto;
	}

	#cloud1 {
		display: none;
	}
	
}



